/* styles/animated-gradient.css */

.css-selector {
  background: linear-gradient(33deg, #f5fbff, #dde3ee, #f2effb, #d4ece5);
  background-size: 800% 800%;

  -webkit-animation: AnimationName 22s ease infinite;
  -moz-animation: AnimationName 22s ease infinite;
  -o-animation: AnimationName 22s ease infinite;
  animation: AnimationName 22s ease infinite;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 15% 0%;
  }
  50% {
    background-position: 86% 100%;
  }
  100% {
    background-position: 15% 0%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 15% 0%;
  }
  50% {
    background-position: 86% 100%;
  }
  100% {
    background-position: 15% 0%;
  }
}
@-o-keyframes AnimationName {
  0% {
    background-position: 15% 0%;
  }
  50% {
    background-position: 86% 100%;
  }
  100% {
    background-position: 15% 0%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 15% 0%;
  }
  50% {
    background-position: 86% 100%;
  }
  100% {
    background-position: 15% 0%;
  }
}
