/* styles/markdown.css */

/*
::selection {
  background-color: #47a3f3;
  color: #fefefe;
} */

.prose .anchor {
  @apply invisible absolute no-underline;
  margin-left: -1em;
  padding-right: 0.5em;
  width: 80%;
  max-width: 700px;
  cursor: pointer;
}

.anchor:hover {
  @apply visible;
}

.prose a {
  @apply decoration-neutral-400 decoration-[0.1em] underline-offset-2 transition-all;
}

.prose .anchor:after {
  @apply text-neutral-300;
  content: '#';
}

.prose *:hover > .anchor {
  @apply visible;
}

.prose pre {
  @apply border border-shark;
}

/* Code highlight within text (ex: `snippit`) */
.prose code {
  /* @apply border border-neutral-100 dark:bg-neutral-900 dark:border-neutral-800 */
  /* @apply rounded-lg bg-neutral-100 px-1 py-0.5 text-neutral-800  dark:bg-highlighter-900 dark:text-neutral-200; */
  @apply rounded-md border border-highlighter-900 bg-highlighter-900 px-1 py-0.5 text-neutral-100;
}

.prose pre code {
  /* dark:text-neutral-200 */
  @apply p-0 text-neutral-800;
  border: initial;
}

.prose img {
  /* Don't apply styles to next/image */
  @apply m-0;
}

.prose > :first-child {
  /* // Override removing top margin, causing layout shift */
  margin-top: 1.25em !important;
  margin-bottom: 1.25em !important;
}

code[class*='language-'],
pre[class*='language-'] {
  @apply text-neutral-50;
}

table {
  display: block;
  max-width: fit-content;
  overflow-x: auto;
  white-space: nowrap;
}

.prose .callout > p {
  margin: 0 !important;
}

.prose h1 {
  @apply font-inter text-h1-blog text-shark-500;
}

.prose h2 {
  @apply font-inter text-subtitle text-shark-500;
}

.prose p {
  @apply font-arimo text-p-blog text-shark-500;
}

[data-rehype-pretty-code-fragment] code {
  @apply grid min-w-full break-words rounded-none border-0 bg-transparent p-0 text-sm text-black;
  counter-reset: line;
  box-decoration-break: clone;
}

[data-rehype-pretty-code-fragment] .line {
  @apply py-1;
}

[data-rehype-pretty-code-fragment] [data-line-numbers] > .line::before {
  counter-increment: line;
  content: counter(line);
  display: inline-block;
  width: 1rem;
  margin-right: 1rem;
  text-align: right;
  color: gray;
}

[data-rehype-pretty-code-fragment] .line--highlighted {
  @apply bg-slate-500 bg-opacity-10;
}
[data-rehype-pretty-code-fragment] .line-highlighted span {
  @apply relative;
}
[data-rehype-pretty-code-fragment] .word--highlighted {
  @apply rounded-md bg-slate-500 bg-opacity-10 p-1;
}

/* Code Title */
[data-rehype-pretty-code-title] {
  @apply rounded-t-lg border border-[#333333] bg-shark-500 px-4 py-3 font-mono text-xs font-medium text-neutral-200;
  /* @apply rounded-t-lg border border-[#333333] bg-[#1c1c1c] px-4 py-3 font-mono text-xs font-medium text-neutral-200; */
}

/* Code Body */
[data-rehype-pretty-code-title] + pre {
  @apply mt-0 rounded-t-none border-t-0;
}
